@model SoccerApiApp.Models.Fixture

@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fixture</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FixtureDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FixtureDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
